<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-gray">
    <div class="container">
        <a class="navbar-brand" href="/" style="color: gold;">Comics Site</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/web/authors}" style="color: gold;">Автори</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/web/comics}" style="color: gold;">Комікси</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/web/comics/top10}" style="color: gold;">Toп 10</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</html>